.left-side button,
.right-side button {
	position: relative;

	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: #586baa;

	outline-offset: 4px;

	border: none;

	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.left-side .button-face,
.right-side .button-face {
	width: 100%;
	height: 100%;

	position: relative;

	display: flex;
	justify-content: center;
	gap: 8px;

	padding: 12px 4px;

	border-radius: 8px;
	background-color: #738ad8;
	color: #fff;

	font-size: clamp(0.95rem, 3vw, 1.2rem);
	text-align: center;

	will-change: transform;
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
	transform: translateY(-4px);
}

button:hover .button-face {
	transform: translateY(-6px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .button-face {
	transform: translateY(-2px);
}

button:focus:not(:focus-visible) {
	outline: none;
}

button.green {
	background-color: #075e54 !important;
}

button.green .button-face {
	background-color: #128c7e !important;
}

button.pink {
	background-color: #c13584 !important;
}

button.pink .button-face {
	background-color: #e1306c !important;
}

button.black {
	background-color: rgb(28, 28, 28) !important;
}

button.black .button-face {
	background-color: rgb(35, 34, 34) !important;
}
