section button {
	position: relative;

	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-image: linear-gradient(to left, hsl(226deg 40% 30%) 0%, hsl(226deg 33% 51%) 4%, hsl(226deg 33% 51%) 96%, hsl(226deg 40% 30%) 100%);
	outline-offset: 4px;

	border: none;

	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

section .button-face {
	width: 100%;
	height: 100%;

	position: relative;

	display: flex;
	justify-content: center;
	gap: 8px;

	padding: 12px 4px;

	border-radius: 8px;
	background-color: #738ad8;
	color: #fff;

	font-size: clamp(0.95rem, 3vw, 1.2rem);
	text-align: center;

	will-change: transform;
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
	transform: translateY(-4px);
}

button:hover .button-face {
	transform: translateY(-6px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active .button-face {
	transform: translateY(-2px);
}

button:focus:not(:focus-visible) {
	outline: none;
}

button.green {
	background-image: linear-gradient(to left, hsl(172deg 78% 18%) 0%, hsl(173deg 86% 22%) 4%, hsl(173deg 86% 22%) 96%, hsl(172deg 78% 18%) 100%);
}

button.green .button-face {
	background-color: #128c7e !important;
}

button.pink {
	background-image: linear-gradient(to left, hsl(326deg 57% 25%) 0%, hsl(326deg 57% 48%) 4%, hsl(326deg 57% 48%) 96%, hsl(326deg 57% 25%) 100%) !important;
}

button.pink .button-face {
	background-color: #e1306c !important;
}

button.black {
	background-image: linear-gradient(to left, hsl(0deg 0% 10%) 0%, hsl(0deg 0% 11%) 4%, hsl(0deg 0% 11%) 96%, hsl(0deg 0% 10%) 100%) !important;
}

button.black .button-face {
	background-color: rgb(35, 34, 34) !important;
}
